* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    color: aliceblue;
    background-color: rgb(44, 42, 42);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: red solid 5px; */
}

.main-container {
    padding: 15px;
    max-width: 800px;
    /* border: rgb(68, 177, 79) solid 5px; */

}


.main-container img {
    margin: auto;
    display: block;
    /* becase img is inline element we must make it block to be in the center */
    margin-bottom: 15px;
    max-width: 100%;
    height: 300px;
    /* border: white solid 5px; */
    border-radius: 10px;
}

.main-container p {
    margin: 15px 0;

}

.btn {
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

.btn:hover {
    background-color: rgb(232, 38, 38);
    color: aliceblue;
}

.trailer-container {
    /* border: rgb(144, 218, 17) solid 5px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* new */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;  /* new */
   
    transition: opacity 0.90s;  /* new */

}

.active.trailer-container {
    visibility: hidden;  /* new */
    opacity: 0; /* new */
}

.trailer-container video {
    position: relative;
    max-width: 900px;
    outline: none;
}


.close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

@media (max-width:991px) {
    .main-container img {
        height: 170px;
    }

    .trailer-container video {
        max-width: 90%;

    }

    .close-icon {
        top: 50px;
        right: 30px;

    }

}